.header{
text-align: center;
align-items: center;
font-size: 16px;
}

.top5{

    text-align: center;
    height: 250px;
   overflow-y: scroll; 
  
}

.container{
    text-align: center;
}

.ViewMore{
padding-top: 25px;
padding-bottom: 25px;
}

/* ******÷***USER CHARTS MAIN PAGE */

.userChart{
  padding-top: 15px;
  border-radius: 5px; /* 5px rounded corners */
  padding-bottom: 15px;
  background-color: rgba(251, 251, 252, 0.975);

}

.section1{
  background-color: rgba(0, 0, 255, 0.105);
  border-radius: 5px; /* 5px rounded corners */
  padding-top: 15px;

}